<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>DataHub Simple REST Adapter Endpoints – Swagger UI</title>
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/simplerestadapter/swagger/css/swagger-ui.css') }}" >
    <link rel="icon" type="image/png" href="{{ asset('bundles/simplerestadapter/swagger/ico/favicon-32x32.png') }}" sizes="32x32" />
    <link rel="icon" type="image/png" href="{{ asset('bundles/simplerestadapter/swagger/ico/favicon-16x16.png') }}" sizes="16x16" />
    <style>
      html {
        box-sizing: border-box;
        overflow: -moz-scrollbars-vertical;
        overflow-y: scroll;
      }

      *,
      *:before,
      *:after {
        box-sizing: inherit;
      }

      body {
        margin:0;
        background: #fafafa;
      }
    </style>
  </head>

  <body>
    <div id="swagger-ui"></div>

    <script src="{{ asset('bundles/simplerestadapter/swagger/js/swagger-ui-bundle.js') }}" charset="UTF-8"></script>
    <script src="{{ asset('bundles/simplerestadapter/swagger/js/swagger-ui-standalone-preset.js') }}" charset="UTF-8"></script>
    <script>
    window.onload = function() {
      window.ui = SwaggerUIBundle({
        url: '{{ configUrl }}',
        dom_id: '#swagger-ui',
      });
    }
  </script>
  </body>
</html>
